alias-free-torch==0.0.6
auraloss==0.4.0
descript-audio-codec==1.0.0
einops==0.8.2
einops-exts==0.0.4
ema-pytorch==0.2.3
encodec==0.1.1
fsspec==2026.2.0
gradio==6.8.0
huggingface_hub==1.5.0
importlib-resources==5.12.0
k-diffusion==0.1.1
laion-clap==1.1.4
local-attention==1.8.6
numpy==1.23.5
pandas==2.0.2
prefigure==0.0.9
PyWavelets==1.4.1
pytorch-lightning==2.1.0
safetensors==0.7.0
soundfile==0.13.1
sentencepiece==0.1.99
torch==2.10.0
torchaudio==2.10.0
torchcodec==0.10.0
torchmetrics==0.11.4
tqdm==4.67.3
transformers==5.2.0
v-diffusion-pytorch==0.0.2
vector-quantize-pytorch==1.14.41
wandb==0.25.0
webdataset==0.2.100
